.button {
    border-radius:50%;
}

.top-bar {
    background-color: rgb(56, 56, 56);
    color:white;
    text-shadow:2px 2px black;
    text-align: center;
}

.top-bar-right {
    text-shadow:none;
}
.title-header {
    background-color: lightgrey;
    font-weight:bold;
    text-align: center;
}

.main-body {
    display:flex;
    min-height: 500px;
    border-style:solid;
}

.card {
    box-shadow:2px 2px black;
}

.card-divider {
    background-color:darkcyan;
    color: white;
    text-shadow: 2px 2px black;
}

.card-section{
    text-align:center;
}