.button {
    border-radius:50%;
}

.top-bar {
    background-color: rgb(56, 56, 56);
    color:white;
    text-shadow:2px 2px black;
    text-align: center;
}

.top-bar-right {
    text-shadow:none;
}
.title-header {
    background-color: lightgrey;
    font-weight:bold;
    text-align: center;
}

.grid-container.fluid {
    margin:0px;
    padding:0px;
}

.main-body {
    min-height: 80vh;
    max-height:80vh;
    background:paleturquoise;
    border-style:solid;
    margin-bottom:5px;
    overflow-y:scroll;
}

.search-bar{
    background-color:darkgray;
    height: 40px;
    box-shadow: 2px 2px black;
}



.search-box{
    margin:0px;
    padding:18px;
}

.icon-holder{
    text-align:center;
}

.search-icon{
font-size: 40px;
}

.grid-x {
    padding:0;
}

.cell{
    height:fit-content;
}

.card {
    box-shadow:2px 2px black;
}

.card-divider {
    background-color:darkcyan;
    color: white;
    text-shadow: 2px 2px black;
}

.card-section{
    text-align:center;
}